<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userSQL">

	<!-- To get Database Server Time -->
	<select id="getDBTime" resultType="java.util.Date">
		SELECT now() FROM dual
	</select>

	<!-- FOR Notification -->
	<select id="getOnTimeList" resultType="notifier.NotDTO">
		<!-- 10분간격으로 돌면서 현재시간에서 1분 뺀 시간보다 더 이후 시간의 값을 갖고 있는 알림들을 가져온다. -->
		<!-- <![CDATA[내용]]> 이렇게 작성해도 되고... <는 &lt; >는 &gt; -->
		SELECT * FROM db.notify WHERE (`time` <![CDATA[>]]> DATE_SUB(now(), INTERVAL 1 MINUTE)) AND (`time` <![CDATA[<]]> DATE_ADD(now(), INTERVAL 1 MINUTE))
	</select>
	<!-- End of Notification -->

	<!-- FOR MAP -->
	<select id="getMycareer" parameterType="java.lang.String" resultType="int">
		SELECT `mycareer` FROM membertable WHERE username=#{username}
	</select>
	
	<insert id="insertMatch" parameterType="matchDTO">
		INSERT INTO db.match VALUES(#{username}, #{mycareer}, #{x}, #{y}, #{range}, #{time1}, #{time2}, #{time3}, #{topic1}, #{topic2}, #{topic3}, #{career}, #{people}, now())
	</insert>
	
	<select id="getListFromMatch" resultType="matchDTO">
		SELECT * FROM `db`.`match` ORDER BY `CREATED` ASC
	</select>
	
	<delete id="deleteMatched" parameterType="java.util.List">
		DELETE FROM db.match
		<where>
			<foreach collection="list" item="item" separator="OR">
				(`username`=#{item.username} AND `x`=#{item.x} AND `y`=#{item.y} AND
				`range`=#{item.range})
			</foreach>
		</where>
	</delete>
	
	<delete id="deleteMatch" parameterType="matchDTO">
		DELETE FROM db.match WHERE `username`=#{username} and `x`=#{x} and `y`=#{y} and `range`=#{range} and `career`=#{career} and `people`=#{people}	
	</delete>
	
	<!-- End of FOR MAP -->
	
	<!-- FOR CRAWL -->
	<insert id="crawlInsert" parameterType="java.util.List">
		INSERT INTO cboard(`bno`, `title`, `nickname`, `boarddate`) VALUES
		<foreach collection="list" item="item" separator=",">
			 (#{item.bno}, #{item.title}, #{item.nickname}, #{item.boarddate})
		</foreach>
	</insert>
	
	<select id="getEmptyContentBno" resultType="String">
		SELECT `bno` FROM cboard WHERE `content` IS NULL;
	</select>
	
	<insert id="insertContents" parameterType="java.util.List">
		UPDATE cboard set `content`= case
		<foreach collection="list" item="item" separator="">
			when `bno`=#{item.bno} then #{item.content}
		</foreach>
			end where `bno` in 
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item.bno}
		</foreach>
	</insert>
	
	<select id="getGreatestBno" resultType="java.lang.Integer">
		SELECT MAX(`bno`) FROM cboard
	</select>	
	
	<!-- End of FOR CRAWL -->

	<!-- FOR BOARD -->
		<select id="getBoardList" resultType="user.CBoardDTO">
			SELECT * FROM cboard order by bno desc limit 20
		</select>
	<!-- END OF BOARD -->

</mapper>


