@charset "UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
div[class="bodywrapper"]{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1280px;
    min-height: 1000px;
    
}
div[class="boardwrapper"]{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
    min-height: 800px;
    margin-top: 70px;
    position : relative;
    left: 15px;
}
h1{
    margin-bottom: 50px;
}
div[class="boardcontainer"]{
    display: flex;
    flex-direction: column;    
    border-left: 3px solid #32be78;
    
    
    
}
div[class="board_header"]{
    display: flex;
    flex-direction: column;
    height: 100px;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 5px;
    
}
div[class="header_upside"]{
    display: flex;
    flex-direction: column;
    height: 60%;
    
    
}
div[class="header_downside"]{
    display: flex;    
    height: 40%;
    
    justify-content: space-between;
    
}
div[class="downside_left"]{
    display: flex;
    
}
div[class="downside_right"]{
    display: flex;
    
    
}
div[class="board_body"]{
    min-height: 300px;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 5px;
}
div[class="board_footer"]{
    height: 300px;
    border: 1px solid #ddd;
    padding: 5px;
}

div[class="view_bno"]{
    
}
div[class="view_title"]{
	font-size: 120%;
}
div[class="view_nickname"]{
    
}
div[class="view_boarddate"]{
   
}
div[class="view_replys"]{
	width: 100px;   
}
div[class="view_hit"]{
    width: 100px;
}

div[class="replywrapper"]{
    width: 100%;
}
div[class="reply_header"]{
    width: 100px;
}
button[class="origin"]{
	width: 100px;
	height: 50px;
	
}

li[class="replywrapper"]{
	
}
div[class="reply_header"]{
	margin-bottom: 20px;
}
li[class="reply_group_item"]{
    display: flex;
    margin-bottom: 20px;
}

div[class="reply_nickname"]{
    width: 10%;
    border: 1px solid;
}
div[class="reply"]{
    width: 80%;
    border: 1px solid;
}

button[class="reply_button"]{
	width: 10%;
	height: 40px;
}