@charset "UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

div[id="boardWriteWrapper"]{
    margin: 0 auto;
    width: 1280px;
    min-height: 1000px;
    border: 1px solid orange;
}

div[id="boardWriteContainer"]{
    margin: 0 auto;
    width: 1280px;
    min-height: 1000px;
    border: 1px solid orangered;
}
div[id="boardWriteTopic"]{
    height: 100px;
    border: 1px solid orchid;
}
div[id="boardWriteTitle"]{
    height: 100px;
    border: 1px solid peru;
}
div[id="boardWriteContent"]{
    height: 100px;
    border: 1px solid pink;
}
div[id="boardWriteButton"]{
    height: 100px;
    border: 1px solid rebeccapurple;
}