@charset "UTF-8";
html,body,div,span,img,header,nav,a,ul,li,form, label,footer,tr,th,td,
section,article,aside {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;   
}
#header_wrapper {
    padding: 50px 0 30px;
}
header {
    position:relative;
    display:flex;
}
.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
}
#logo {
    display:inline-block;
}
#nav {
    display: block;
    position:absolute;
    right:0px;
    top:0px;
    font-size: 1.2em;
}
#nav ul {
    padding-left: 0px;
    list-style: none;
}
#nav ul li {
    display: list-item;
    list-style: none;
    float:left;
    padding-left: 1.5em;
    line-height: 4.5em;
}
#nav ul li a{
    font-weight: 800;
    text-decoration: none;
}